html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #1E4D2B;
}
body {
    margin: 0;
}
.content {
    padding: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1;
}
.card-grid {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
    background-color: #1E4D2B;
    box-shadow: 2px 2px 12px 1px rgba(20, 20, 20, 0.5);
    justify-content: left;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e9ffef
}
.reading {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}
.scene-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}